

  .location{
    background: rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 3, 255, 0.603);
   width: fit-content;
    color: #fff;
    padding: 2%;

  }


#floatingInput{
  background: none;
  border: 2px solid rgb(3, 87, 80);
}

.cityinput{
  border-color: orange!important;
}
  .btn{
    background-color: rgb(128, 86, 10)!important;

  }


  .current{
    background: rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 3, 255, 0.603);
    width: fit-content;
    color: #fff;
    padding: 3% ;
    
    
  }
  .condtitioncontainer{
    text-align: center;
    color: #fff;
  }

  .currentsubcontainer{
    color: #fff;
  }


  .winddatacontainer{
    background: rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 3, 255, 0.603);
    width: fit-content;
    color: #fff;
    padding: 2%;
  }

  .airqualitycontainer{
    background: rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 3, 255, 0.603);
    width: fit-content;
    color: #fff;
    padding: 2%;
    
  }
  .navbar{
    background-color: rgba(1, 41, 44, 0.842);
    color: wheat;
  }


  .footer{
    background-color: rgb(20, 90, 86);
    padding: 1%;
    color: #fff;
    
    bottom: 0%;
    width: 100%;
    
  }