.error{
    margin-top: 10%;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 3, 255, 0.603);
   width: fit-content;
    color: #fff;
    padding: 2%;
}